asn1crypto;
backcall;
certifi;
cffi;
chardet;
cryptography;
cycler;
decorator;
idna;
imageio;
ipython;
ipython-genutils;
jedi;
joblib;
kiwisolver;
matplotlib;
# mkl-fft;
# mkl-random;
# mkl-service;
numpy;
olefile;
pandas;
parso;
patsy;
pexpect;
pickleshare;
Pillow;
prompt-toolkit;
ptyprocess;
pycparser;
Pygments;
pyOpenSSL;
pyparsing;
PySocks;
python-dateutil;
pytz;
pyzmq;
requests;
scikit-learn;
scipy;
seaborn;
six;
statsmodels;
torch;
torchfile;
torchvision;
tornado;
tqdm;
traitlets;
urllib3;
visdom;
wcwidth;
websocket-client;
